.main-layer-kalender{
    background: rgba(255,255,255,0.8) no-repeat center center fixed;       
    padding-bottom: 1px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hasil-prediksi{
    font-size: 15px;
    font-weight: 800;
}
